
header {
    height: 80px;
    background-color: blue;
    text-align: center;
    color: #fff;
    border: 3px solid black;
}
footer {
    height: 200px;
    background-color: blue;
    text-align: center;
    color: #fff;
    border: 3px solid black;
}
.main-content-container {
    min-height: 800px;
    
}
.main-container-sidebar {
    border: 1px solid black;
    display: inline-block;
    width: 29%;
    float: right;
}
.main-container-article {
    width: 70%;
    border: 1px solid black;
    display: inline-block;

}